<%- include('../partials/Header.ejs', {title: 'Market Listing' }) %>

    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24" style="padding-top: 30px;">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
            <div class="rounded-t mb-0 px-4 py-5 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base text-blueGray-700" style="font-size: 25px;">Stock List</h3>
                    </div>
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                        <form action="/market" style="display: flex; align-items: center; justify-content: center; vertical-align: middle; gap: 5px;">
                            <input type="search" placeholder="Search by Company Name or Ticker" style="width: 300px;"
                                class="bg-white border border-gray-300 rounded-md py-2 px-4 text-sm focus:outline-none focus:border-indigo-500"
                                style="height: 37.5px;"
                                name="search"/>
                            <input type="submit" value="Search"
                                class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-2.5 rounded outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                                style="width: auto;" />
                        </form>
                    </div>
                </div>
            </div>

            <div class="block w-full overflow-x-auto">
                <table class="items-center bg-transparent w-full border-collapse">
                    <thead>
                        <tr>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Company Name
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Ticker
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Dividend Yield
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Recent Volume
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Action
                            </th>
                        </tr>
                    </thead>


                    <tbody>
                        <% stocks.forEach(el=> { %>
                            <tr>
                                <th
                                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                    <%- el.stockName %>
                                </th>
                                <td
                                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
                                    <%- el.stockCode %>
                                </td>
                                <td
                                    class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                    <%- el.dividend %>
                                </td>
                                <td
                                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                    <% if (Math.random()> 0.4) { %>
                                        <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                                    <% } else { %>
                                        <i class="fas fa-arrow-down text-red-500 mr-4"></i>
                                    <% } %>
                                    <%- amountFormatter(el.volume) %>
                                </td>
                                <td
                                    class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                    <a href="/market/<%= el.id %>" class="viewButton">Historical</a>
                                </td>
                            </tr>
                            <% }) %>
                                <tr style="height: 40px;">
                                </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%- include('../partials/Footer.ejs') %>